*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;

}

.container{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* min-height: 100vh; */
    /* display: none; */
}

.nav{
    margin-top: 5rem;
    text-align: center;
}

.row{
    padding: 100px;

    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text{
    margin-top: 1rem;
}

img {
	max-width: 100%;
}

.col{
    width: 50%;
    /* justify-content: space-evenly; */
    padding-left: 1rem;
    padding-right: 1rem;

}

p{
    margin-top: 1rem;
}

ul{ 
    list-style-type: circle;
}